<% if article.image.present? %>
  <div class="content-intro-image">
    <%= image_tag article.image.url, class: 'cli-img' %>
  </div>
<% end %>

<div class="content-topic free-bottom heavy mygrey-dark">
  <%= article.t_attr(:title) %>
</div>

<h1><%= article.subtitle %></h1>
<div class="contents">
  <%= sanitize_content(article.t_attr(:content)) %>
</div>
