<div class="member-index">
  <% members.each do |member| %>
    <%= link_to member_path(member), class: "member" do %>
      <div class="member-img-container">
        <div class="member-img">
          <%= image_tag(member.image.url)if member.image.url%>
        </div>
      </div>
      <div class="member-content">
        <div class="name">
          <%= member.name %>
        </div>
        <div class="title">
          <%= member.title %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
