<% content_for(:title) { "組織成員" } %>
<div class="myrow centered">
  <div class="item member-index-container">
    <% @member_categories.each do |member_category| %>
      <%= render(partial: 'member_category', locals: {member_category: member_category}) %>
    <% end %>
  </div>

</div>
