<div class="three item free-top free-bottom">
  <div class="news">
    <div class="news-topic-con">
      <div class="news-topic-bar"></div>
      <div class="news-topic topic4 myblue heavy">
        <%= pc.t_title %>
      </div>
    </div>

    <% pc.posts&.first(5).each do |p| %>
      <%= render(partial: 'partials/post_entry', locals: {post: p}) %>
    <% end %>

    <div class="news-end">
      <%= link_to post_category_path(pc) do %> 
        <div class="topic5 mygrey short heavy">
          <p>More...</p>
        </div>
      <% end %>
    </div>

  </div>
</div>
