
<div class="school-index">

  <% schools.each do |school| %>
    <%= link_to school.url, class: "school" do %>
      <div class="school-img-container">
        <div class="school-img">
          <%= image_tag(school.img.url)if school.img.url%>
        </div>
      </div>
      <div class="school-content">
        <div class="name">
          <%= school.title %>
        </div>
        <div class="title">
          <%= school.en_title %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
