<div class="myrow centered free-top free-bottom">
  <div class="subcenter item content">

    <div class="content-intro-image">
      <img src="img/suits.jpg" class="cii-img"/>
    </div>

    <div class="content-topic free-bottom heavy short mygrey-dark">
      <p><%= @page.title %></p>
    </div>

    <h1><%= @page.subtitle %></h1>
    <%= simple_format(@page.content) %>

  </div>
  <!-- RHS -->
  <div class="subwide three item free-top free-bottom">
    <div class="news">
      <div class="news-topic-con">
        <div class="news-topic-bar"></div>
        <div class="news-topic topic4 myblue short heavy">
          <p>最新公告</p>
        </div>
      </div>

      <div class="news-content">
        <div class="news-content-info-con">
          <div class="news-content-info-tag topic6 myblue-invert short">
            <p>交換</p>
          </div>
          <div class="news-content-info-date topic6 myblue short">
            <p>December 1,2016</p>
          </div>
        </div>
        <div class="news-content-content">
          <a href="#">
            <div class="topic5 heavy mygrey">
              <p>提醒!【電機院】2017秋季班&amp;2018春季班 
              交換學生申請開始!</p>
            </div>
          </a>
        </div>
      </div>

      <div class="news-content">
        <div class="news-content-info-con">
          <div class="news-content-info-tag topic6 myblue-invert short">
            <p>交換</p>
          </div>
          <div class="news-content-info-date topic6 myblue short">
            <p>December 1,2016</p>
          </div>
        </div>
        <div class="news-content-content">
          <a href="#">
            <div class="topic5 heavy mygrey">
              <p>提醒!【電機院】2017秋季班&amp;2018春季班 
              交換學生申請開始!</p>
            </div>
          </a>
        </div>
      </div>

      <div class="news-content">
        <div class="news-content-info-con">
          <div class="news-content-info-tag topic6 myblue-invert short">
            <p>交換</p>
          </div>
          <div class="news-content-info-date topic6 myblue short">
            <p>December 1,2016</p>
          </div>
        </div>
        <div class="news-content-content">
          <a href="#">
            <div class="topic5 heavy mygrey">
              <p>提醒!【電機院】2017秋季班&amp;2018春季班 
              交換學生申請開始!</p>
            </div>
          </a>
        </div>
      </div>

      <div class="news-end">
        <a href="#">
          <div class="topic5 mygrey short heavy">
            <p>More...</p>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>
