<% content_for(:title) { t('page_title.partner_schools') } %>
<div class="myrow centered">
  <div class="item school-index-container">
    <div class="school-index-topic mygrey-dark">
      <%= t('page_title.partner_schools') %>
    </div>

    <%= render(partial: 'partials/schools', locals: {schools: @schools}) %>
  </div>

</div>
