<% content_for(:title) { "相片集錦" } %>
<div id="photos">
  <div id="photo-gallery">
    <% @photos.each do |photo| %>
      <div>
        <%= image_tag(photo.file.thumb.url, data: {large_image: photo.file.url}, alt: photo.alt) if photo.file %>
      </div>
    <% end %>
  </div>
</div>
