
    <div class="myrow centered free-top free-bottom">
        <div class="subcenter item myrow spaced">

          <div class="pimage">
            <img src="img/teacher.PNG"/>
          </div>

          <div class="pContent">
            <div class="pcontent-topic topic2 free-bottom heavy short mygrey-dark">
              <p>洪崇智 教授</p>
            </div>
            <div class="pcontent-content mytext mygrey-dark">
              <p>交通大學電機工程學系教授<br>（兼電機資訊學士班主任）</p>
              <p>美國俄亥俄州立大學電機工程博士</p>
            </div>
          </div>


        </div>

      <div class="subwide three item free-top free-bottom">
        <div class="news">
          <div class="news-topic-con">
            <div class="news-topic-bar"></div>
            <div class="news-topic topic4 myblue short heavy">
              <p>最新公告</p>
            </div>
          </div>

          <div class="news-content">
            <div class="news-content-info-con">
              <div class="news-content-info-tag topic6 myblue-invert short">
                <p>交換</p>
              </div>
              <div class="news-content-info-date topic6 myblue short">
                <p>December 1,2016</p>
              </div>
            </div>
            <div class="news-content-content">
              <a href="#">
                <div class="topic5 heavy mygrey">
                  <p>提醒!【電機院】2017秋季班&amp;2018春季班 
                  交換學生申請開始!</p>
                </div>
              </a>
            </div>
          </div>

          <div class="news-content">
            <div class="news-content-info-con">
              <div class="news-content-info-tag topic6 myblue-invert short">
                <p>交換</p>
              </div>
              <div class="news-content-info-date topic6 myblue short">
                <p>December 1,2016</p>
              </div>
            </div>
            <div class="news-content-content">
              <a href="#">
                <div class="topic5 heavy mygrey">
                  <p>提醒!【電機院】2017秋季班&amp;2018春季班 
                  交換學生申請開始!</p>
                </div>
              </a>
            </div>
          </div>

          <div class="news-content">
            <div class="news-content-info-con">
              <div class="news-content-info-tag topic6 myblue-invert short">
                <p>交換</p>
              </div>
              <div class="news-content-info-date topic6 myblue short">
                <p>December 1,2016</p>
              </div>
            </div>
            <div class="news-content-content">
              <a href="#">
                <div class="topic5 heavy mygrey">
                  <p>提醒!【電機院】2017秋季班&amp;2018春季班 
                  交換學生申請開始!</p>
                </div>
              </a>
            </div>
          </div>

          <div class="news-end">
            <a href="#">
              <div class="topic5 mygrey short heavy">
                <p>More...</p>
              </div>
            </a>
          </div>

      </div>

      </div>
    </div>
